*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inizio header */

.icona{
    height: 50px;
    font-size: 2.5rem;
    color: #29b1dd;
    padding-left: 20px;
}

.filtro{
    height: 70px;
    background-color: #29b1dd;
    text-align: center;
    line-height: 70px;
}

.filtro label{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

#selected{
    background-color: white;
    border: none;

}
/* / header */

/* inizio main */

.container{
    height: calc(100vh - 120px);
    background-color: #dddddd;
    display: flex;
    flex-wrap: wrap;

}

.box{
    height: 7rem;
    width: 13rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px gray;
    margin: 3.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.element{
    font-size: 2.5rem;
}

#name{
    text-transform: uppercase;
    padding-top: .25rem;
}

.blue{
    color: #800080;
}

.orange{
    color: #0000ff;
}

.green{
    color: #ffa500;
}

/* /main */

